* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}
.main-div {
  width: 100%;
  display: flex;
}
.main-div .sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background-color: rgb(243, 60, 91);
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.main-div .sidebar .logo-out .logo-in {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
}
.main-div .sidebar .logo-out .logo-in img {
  width: 50px;
  height: 50px;
}
.main-div .sidebar .logo-out .logo-in h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.main-div .sidebar .links {
  padding: 0px 0px 0px 18px;
}
.main-div .sidebar .links .side-links ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  padding: 0px 0px 10px 15px;
}
.main-div .sidebar .links .side-links ul li {
  list-style: none;
  padding-left: 18px;
}
.main-div .sidebar .links .side-links ul .active {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 30px 0px 0px 30px;
}

.main-div .sidebar .links .side-links ul li div {
  display: flex;
  gap: 30px;
}
.main-div .sidebar .links .side-links ul li div i {
  color: #fdadad;
  font-size: 17px;
  font-weight: 300;
}
.main-div .sidebar .links .side-links ul li div a {
  text-decoration: none;
  color: #fdadad;
  font-size: 17px;
  font-weight: 300;
}

.main-div .right-section {
  display: flex;
  padding-bottom: 10px;
  margin-left: 25%;
  height: 100vh;
  width: 75%;
  flex-direction: column;
  background-color: rgb(228, 224, 224);
  color: #000;
  gap: 10px;
}
.main-div .right-section .navbar {
  height: 15%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 26px;

  box-shadow: 0px 5px 12px -3px rgb(235, 221, 221);
}
.main-div .right-section .navbar .dashboard {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-div .right-section .navbar .dashboard i {
  font-size: 25px;
  font-weight: 600;
  color: #1a1a1a;
}
.main-div .right-section .navbar .dashboard h2 {
  font-size: 25px;
  font-weight: 600;
  color: #1a1a1a;
}
.main-div .right-section .navbar .search {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.main-div .right-section .navbar .search i {
  color: #9d9898;
  font-size: 20px;
  position: absolute;
  top: 17px;
  left: 19px;
}
.main-div .right-section .navbar .search input {
  padding: 15px 0px 15px 50px;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
  color: #9d9898;
  border: 2px solid #fef5f5;
  background-color: #fef5f5;
}
.main-div .right-section .navbar .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-div .right-section .navbar .profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.main-div .right-section .navbar .profile .profile-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-div .right-section .navbar .profile .profile-in h2 {
  color: #1a1a1a;
  font-weight: 500;
}
.main-div .right-section .navbar .profile .profile-in h3 {
  color: #a79f9f;
  font-weight: 400;
}

.main-section {
  /* height: 85%; */
  background-color: rgb(228, 224, 224);
}

.right-section .main-section .visit-section {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  padding: 12px 20px;
}
.right-section .main-section .visit-section .visit {
  background-color: #fff;
  width: 30%;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.right-section .main-section .visit-section .special {
  background-color: rgb(243, 60, 91);
  color: #fff;
}
.right-section .main-section .visit-section .special .visit-left h3 {
  color: #fff !important;
}
.right-section .main-section .visit-section .special .visit-right i {
  color: #fff !important;
}
.right-section .main-section .visit-section .visit .visit-left h1 {
  font-size: 30px;

  font-weight: 600;
}
.right-section .main-section .visit-section .visit .visit-left h3 {
  font-size: 15px;
  color: #9d9898;
}
.right-section .main-section .visit-section .visit .visit-right i {
  font-size: 35px;
  color: rgb(243, 60, 91);
}

.right-section .main-section .recent-activity {
  display: flex;
  padding: 4px 20px;

  gap: 30px;
}
.right-section .main-section .recent-activity .recent {
  width: 64%;
  border-radius: 19px;
  background-color: #fff;
}
.right-section .main-section .recent-activity .recent .recent-head {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
.right-section .main-section .recent-activity .recent .recent-head h2 {
  color: #1a1a1a;
  font-size: 20px;
}
.right-section .main-section .recent-activity .recent .recent-head div {
  display: flex;
  background-color: red;
  padding: 6px 14px;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
}
.right-section .main-section .recent-activity .recent .recent-head div p,
i {
  color: #fff;
}
.recent-activity .recent .recent-table {
  aspect-ratio: 2/1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px 11px;
}
.recent-activity .recent .recent-table table {
  width: 100%;
}

.recent-activity .recent .recent-table table th {
  text-align: left;
  padding: 10px 10px;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}

.recent-activity .recent .recent-table table tr td {
  text-align: left;
  padding: 7px 13px;
  vertical-align: middle;
  font-size: 13px;
}
.recent-activity .recent .recent-table table tr .td-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.recent-activity .recent .recent-table table tr .td-flex div {
  width: 10px;
  height: 10px;

  border-radius: 50%;
}
.recent-activity .recent .recent-table table tr .td-flex .td-1 {
  background-color: rgb(70, 10, 125);
}
.recent-activity .recent .recent-table table tr .td-flex .td-2 {
  background-color: rgb(154, 15, 52);
}
.recent-activity .recent .recent-table table tr .td-flex .td-3 {
  background-color: rgb(224, 130, 16);
}
.right-section .main-section .recent-activity .customer {
  width: 40%;
  border-radius: 19px;
}

.right-section .main-section .recent-activity .customer {
  width: 36%;
  background-color: #fff;
}
.right-section .main-section .recent-activity .customer .customer-head {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
.right-section .main-section .recent-activity .customer .customer-head h2 {
  color: #1a1a1a;
  font-size: 20px;
}
.right-section .main-section .recent-activity .customer .customer-head div {
  display: flex;
  background-color: red;
  padding: 6px 14px;
  align-items: center;
  gap: 3px;
  border-radius: 5px;
}
.right-section .main-section .recent-activity .customer .customer-head div p,
i {
  color: #fff;
}
.recent-activity .customer .customer-table {
  aspect-ratio: 2/2;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 15px;
}
.recent-activity .customer .customer-table .cust {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}
.recent-activity .customer .customer-table .social {
  display: flex;
  gap: 12px;
}
.recent-activity .customer .customer-table .social i {
  color: rgb(246, 165, 165);
  font-size: 16px;
}

.recent-activity .customer .customer-table .cust-profile {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 4px;
}
.recent-activity .customer .customer-table .cust-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.recent-activity .customer .customer-table .cust-profile .cust-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recent-activity .customer .customer-table .cust-profile .cust-head h1 {
  color: #1a1a1a;
  font-size: 13px;
}
.recent-activity .customer .customer-table .cust-profile .cust-head h3 {
  color: #a07b7b;
  font-size: 12px;
}
@media only screen and (max-width: 1100px) {
  .main-div .sidebar {
    display: none !important;
  }
  .main-div .right-section {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .right-section .main-section .visit-section {
    gap: 20px;

    padding: 6px 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .right-section .main-section .visit-section .visit {
    width: 47%;
  }
}
@media only screen and (max-width: 620px) {
  .right-section .main-section .visit-section {
    padding: 6px 12px;
  }
  .right-section .main-section .visit-section .visit {
    width: 100%;
  }
}
@media only screen and (max-width: 755px) {
  .right-section .navbar .dashboard h2 {
    display: none;
  }

  .main-div .right-section .navbar .search input {
    padding: 15px 0px 15px 43px;
    border-radius: 20px;
    font-size: 14px;
  }

  .main-div .right-section .navbar .search i {
    color: #9d9898;
    font-size: 18px;
    position: absolute;
    top: 16px;
    left: 18px;
  }
}

@media only screen and (max-width: 703px) {
  .main-div .right-section .navbar .profile img {
    width: 40px;
    height: 40px;
  }
  .main-div .right-section .navbar .profile .profile-in h2 {
    font-size: 15px;
  }
  .main-div .right-section .navbar .profile .profile-in h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 586px) {
  .right-section .main-section .visit-section {
    padding: 3px 34px;
  }
}
@media only screen and (max-width: 953px) {
  .right-section .main-section .recent-activity {
    display: flex;
    padding: 6px 20px;
    flex-direction: column;
  }
  .right-section .main-section .recent-activity .recent {
    width: 100%;
  }
  .right-section .main-section .recent-activity .customer {
    width: 100%;
  }
  .recent-activity .customer .customer-table .cust {
    gap: 4px;

    padding: 0px 20px;
  }
}
@media only screen and (max-width: 400px) {
  .recent-activity .customer .customer-table .cust-profile img {
    width: 40px;
    height: 40px;
  }

  .recent-activity .customer .customer-table .cust-profile .cust-head h1 {
    font-size: 12px;
  }

  .recent-activity .customer .customer-table .cust-profile .cust-head h3 {
    color: #1a1a1a;
    font-size: 10px;
  }
}
@media only screen and (max-width: 444px) {
  .main-div .right-section .navbar .search {
    display: none;
  }
}
@media only screen and (max-width: 933px) {
  .recent-activity .recent .recent-table {
    aspect-ratio: 0;
  }
  .recent-activity .customer .customer-table {
    aspect-ratio: 0;
  }
}
@media only screen and (max-width: 344px) {
  .right-section .main-section .recent-activity .recent .recent-head h2 {
    font-size: 15px;
  }

  .right-section .main-section .recent-activity .recent .recent-head div p,
  i {
    font-size: 10px;
  }
  .right-section .main-section .recent-activity .customer .customer-head h2 {
    color: #1a1a1a;
    font-size: 15px;
  }

  .right-section .main-section .recent-activity .customer .customer-head div p,
  i {
    font-size: 10px;
  }
  .recent-activity .recent .recent-table table th {
    font-size: 13px;
  }
  .recent-activity .recent .recent-table table td {
    font-size: 10px;
  }
}
